.PokemonCard {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}

.PokemonCard a {
  text-decoration: none;
  color: black;
}

.pokemon-sprite {
  width: 200px;
  height: 200px;
  background-color: #dad8d8;
  border-radius: 10px;
}

.pokemon-sprite img {
  width: 100%;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  width: 100%;
}

.pokemon-id {
  font-size: 12px;
}

.pokemon-name {
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: bold;
  display: flex;
  width: 100%;
}

.error {
  color: #ff0000;
  font-weight: bold;
  text-transform: uppercase;
}

.types {
  width: 100%;
  display: flex;
  text-transform: capitalize;
  font-size: 14px;
  justify-content: space-between;
}

.types div {
  padding: 5px 15px;
  border-radius: 10px;
}

.grass {
  background-color: #06aa06;
}

.poison {
  background-color: #800080;
  color: whitesmoke;
}

.fire {
  background-color: #ff7300;
  color: whitesmoke;
}

.flying {
  background-color: #937ce0;
}

.water {
  background-color: #0077ff;
  color: whitesmoke;
}

.bug {
  background-color: #026402;
  color: whitesmoke;
}

.normal {
  background-color: #cecece;
}

.electric {
  background-color: #f8e80a;
}

.ground {
  background-color: #daa520;
}

.fairy {
  background-color: #f5a4ea;
}

.fighting {
  background-color: #ff470f;
  color: whitesmoke;
}

.psychic {
  background-color: #e66fe6;
  color: whitesmoke;
}

.rock {
  background-color: #b68917;
  color: whitesmoke;
}

.ice {
  background-color: #84d0ff;
}

.steel {
  background-color: #778899;
}

.ghost {
  background-color: #311779;
  color: whitesmoke;
}

.dragon {
  background-color: #6849cf;
  color: whitesmoke;
}

.dark {
  background-color: #1a0e0e;
  color: whitesmoke;
}

@media (max-width: 630px) {
  .PokemonCard {
    max-width: 150px;
    padding: 10px;
  }

  .pokemon-sprite {
    width: 130px;
    height: 130px;
  }

  .pokemon-id {
    font-size: 10px;
  }

  .pokemon-stats {
    padding: 5px 0;
  }
  
  .pokemon-name {
    font-size: 16px;
  }

  .types {
    width: 100%;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
  }
  
  .types div {
    padding: 1px 5px;
    border-radius: 5px;
  }
  
}