.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 180px;
  background-color: #0f0f0f;
  padding: 0 50px;
}

.Footer p {
  color: #fff;
}

.Footer a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid;
}